{
  "openapi": "3.1.0",
  "info": {
    "title": "Faraday API",
    "description": "\nThe **Faraday API** provides secure, compliant infrastructure for stablecoin transactions, identity verification, and transaction monitoring.\n\n### Key Features\n- **IVMS101 Person Records** — Create, query, and manage structured person data for FATF Travel Rule compliance.\n- **Transaction Lifecycle** — Submit, simulate, and track transactions with full audit trails.\n- **Swap Routing** — Discover optimal token swap paths, including cross-chain routes.\n- **Risk & Anomaly Detection** — Score transactions using machine learning and rules-based engines.\n\n### Base URLs\n- Production: `https://api.faraday.range.org`\n- Staging: `https://faraday.api.rase.live`\n- Local Development: `http://0.0.0.0:3000`\n\n### Authentication\nAll requests require an API key. Contact `faraday@range.org` to request access.\n\nInclude the following header with each request:\n\n```\nX-API-KEY: <your_api_key>\n```\n\n### Example Request\n\n```bash\ncurl -X GET 'https://api.faraday.range.org/v1/persons' \\\n  --header 'X-API-KEY: <your_api_key>'\n        ",
    "contact": {
      "name": "Faraday",
      "url": "https://range.org/faraday",
      "email": "faraday@range.org"
    },
    "license": {
      "name": ""
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.faraday.range.org",
      "description": "Production"
    },
    {
      "url": "https://faraday.api.rase.live",
      "description": "Staging"
    },
    {
      "url": "http://0.0.0.0:3000",
      "description": "Local Development"
    }
  ],
  "paths": {
    "/v1/persons": {
      "get": {
        "tags": [
          "Persons"
        ],
        "summary": "List all IVMS101 person records",
        "description": "Retrieves a list of all registered IVMS101-compliant natural and legal person entities, including all associated identity fields and metadata.",
        "operationId": "get_persons",
        "responses": {
          "200": {
            "description": "List of persons",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Person"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Persons"
        ],
        "summary": "Create a IVMS101 person record",
        "description": "\nCreates a new IVMS101-compliant person entity.\n\nThe payload must be either a `natural` or `legal` person structure, and must include:\n- Person core information\n- Name identifiers\n- National identifiers\n- Account numbers\n- Addresses\n\nOn success this endpoint returns the full assembled `PersonRecord`.\n\n### Specification\nSee the [IVMS101 standard](https://www.intervasp.org/) for full field definitions and compliance details.\n\n### Validation\n- If the input fails schema or custom validation, returns 422.\n\n### Errors\n- Any database or internal failure results in a 500 error.\n",
        "operationId": "create_person",
        "requestBody": {
          "description": "IVMS101-compliant payload to create a natural or legal person",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePersonPayload"
              },
              "examples": {
                "Moriarty": {
                  "value": {
                    "account_numbers": [
                      {
                        "account_number": "0x10ADD26fb2D17dA265e0567B8F56cb4687979fbE"
                      }
                    ],
                    "addresses": [
                      {
                        "address_type": "HOME",
                        "country": "CH",
                        "street_name": "Reichenbach Falls",
                        "town_name": "Meiringen"
                      }
                    ],
                    "kind": "natural",
                    "name_identifiers": [
                      {
                        "primary_identifier": "James Moriarty",
                        "type": "LEGL"
                      }
                    ],
                    "national_identifiers": [
                      {
                        "country": "CH",
                        "identifier_type": "RAID",
                        "national_identifier": "987654321"
                      }
                    ],
                    "person": {
                      "country_of_residence": "CH",
                      "customer_identification": "MORIARTY-001",
                      "date_of_birth": "1985-02-10",
                      "place_of_birth": "Bern"
                    }
                  }
                },
                "Sherlock": {
                  "value": {
                    "account_numbers": [
                      {
                        "account_number": "GvFbpZcqXNoZbAH8ETAA4DYBzaEHY4v2Vt7r71ZqJCTc"
                      }
                    ],
                    "addresses": [
                      {
                        "address_type": "HOME",
                        "building_number": "221B",
                        "country": "GB",
                        "street_name": "Baker Street",
                        "town_name": "London"
                      }
                    ],
                    "kind": "natural",
                    "name_identifiers": [
                      {
                        "primary_identifier": "Sherlock Holmes",
                        "type": "LEGL"
                      }
                    ],
                    "national_identifiers": [
                      {
                        "country": "GB",
                        "identifier_type": "RAID",
                        "national_identifier": "123456789"
                      }
                    ],
                    "person": {
                      "country_of_residence": "GB",
                      "customer_identification": "CUST-123",
                      "date_of_birth": "1990-05-14",
                      "place_of_birth": "London"
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created person",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Person"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/v1/persons/by_account/{account_number}": {
      "get": {
        "tags": [
          "Persons"
        ],
        "summary": "Get a IVMS101 person by blockchain account number",
        "description": "Retrieves the IVMS101-compliant person entity linked to the given blockchain account number. This may include Ethereum, Solana, Cosmos, or other supported address formats.",
        "operationId": "getPersonByAccountNumber",
        "parameters": [
          {
            "name": "account_number",
            "in": "path",
            "description": "Blockchain account number used to identify a person (EVM, Solana, Cosmos, etc.)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "0x742d35Cc6634C0532925a3b844Bc454e4438f44e"
          }
        ],
        "responses": {
          "200": {
            "description": "The IVMS101-compliant person record associated with the account",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Person"
                }
              }
            }
          },
          "404": {
            "description": "No person found with the specified account number"
          }
        }
      }
    },
    "/v1/persons/{id}": {
      "get": {
        "tags": [
          "Persons"
        ],
        "summary": "Get a IVMS101 person record by ID",
        "description": "Fetches a full IVMS101 person entity by its unique identifier. Returns 404 if the person is not found.",
        "operationId": "get_person_by_id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique person identifier (UUID)",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "example": "d2fd3b17-1fcd-4c4f-bc0e-3b6f858a5e5d"
          }
        ],
        "responses": {
          "200": {
            "description": "The full IVMS101-compliant person record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Person"
                }
              }
            }
          },
          "404": {
            "description": "Person not found"
          }
        }
      },
      "put": {
        "tags": [
          "Persons"
        ],
        "summary": "Replace an existing IMVS101 person record",
        "description": "Fully replaces an IVMS101-compliant person entity by ID. The provided payload must be complete and include all fields for either a natural or legal person.",
        "operationId": "updatePersonRecord",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier of the person to update (UUID)",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "example": "d2fd3b17-1fcd-4c4f-bc0e-3b6f858a5e5d"
          }
        ],
        "requestBody": {
          "description": "The complete replacement payload for the IVMS101 person. Must include all required fields.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePersonPayload"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The updated IVMS101-compliant person record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Person"
                }
              }
            }
          },
          "404": {
            "description": "No person found with the specified ID"
          }
        }
      },
      "delete": {
        "tags": [
          "Persons"
        ],
        "summary": "Delete a person record",
        "description": "Deletes the IVMS101-compliant person entity corresponding to the given UUID. Returns 204 if the deletion is successful, or 404 if the person does not exist.",
        "operationId": "deletePersonById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier of the person to delete (UUID)",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "example": "d2fd3b17-1fcd-4c4f-bc0e-3b6f858a5e5d"
          }
        ],
        "responses": {
          "204": {
            "description": "Person deleted successfully"
          },
          "404": {
            "description": "No person found with the specified ID"
          }
        }
      }
    },
    "/v1/transactions": {
      "get": {
        "tags": [
          "Transactions"
        ],
        "summary": "List transactions for the authenticated user",
        "description": "\nReturns a list of processed transactions with associated sender and recipient IVMS101 records, if available.\n\n### Response\nEach transaction includes:\n- Transaction hash\n- Amount (in base units)\n- Travel rule compliance flag\n- Timestamps\n- Full sender and recipient records if present\n\n### Notes\n- Transactions are returned in descending order of creation (most recent first).\n- If IVMS101 records are not found, `sender` or `recipient` fields may be null.\n\n### Errors\n- Returns 500 in the event of an unexpected database or internal failure.\n",
        "operationId": "get_transactions",
        "responses": {
          "200": {
            "description": "List of processed transactions with associated IVMS101 person records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TransactionReport"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error while retrieving transaction data"
          }
        }
      },
      "post": {
        "tags": [
          "Transactions"
        ],
        "summary": "Create a transaction",
        "description": "\nSubmits a **base64-encoded, signed transaction** to transfer tokens between accounts on a **supported blockchain** (e.g., Solana).\n\n**Key Details:**\n- The transaction must already be signed by the sender before submission.\n- Supports any token transfers that conform to the chain's native transaction format.\n- The endpoint will broadcast the transaction to the selected blockchain network and return the result.\n\n**Notes:**\n- **Travel Rule compliance** (IVMS101 checks) - a future release will decode the transaction and verify the transaction is Travel Rule compliant. This is not currently supported. \n- This endpoint does not modify or re-sign the provided transaction — it broadcasts exactly what is submitted.\n",
        "operationId": "submit_transfer_transaction",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubmitTransferRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Transaction submitted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubmitTransferResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - base64 or network issue",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "InvalidBase64": {
                    "summary": "Malformed base64",
                    "value": {
                      "error": "Invalid base64 transaction encoding"
                    }
                  },
                  "UnsupportedNetwork": {
                    "summary": "Unsupported network",
                    "value": {
                      "error": "Unsupported network: fantom"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "Missing IVMS101 Records": {
                    "summary": "Sender or recipient missing IVMS101",
                    "value": {
                      "error": {
                        "recipient": [
                          "Recipient is missing an IVMS101 record"
                        ],
                        "sender": [
                          "Sender is missing an IVMS101 record"
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "Database Error": {
                    "summary": "Insert failed",
                    "value": {
                      "error": "Database error"
                    }
                  },
                  "Dispatch Error": {
                    "summary": "Failed to dispatch transaction",
                    "value": {
                      "error": "Failed to submit transaction to network"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/transactions/quote": {
      "get": {
        "tags": [
          "Transactions"
        ],
        "summary": "Get a quote for a stablecoin transfer",
        "description": "\nRetrieves a cross-chain transfer or swap quote from multiple aggregators:\n\n- **Skip Go**\n- **Lifi**\n- **DeBridge**\n\nThe service selects the **best available route** based on price and execution parameters.\n\nAlong with the quote, the response includes:\n- An **unsigned transaction** ready for signing.\n- A **risk report** generated by Range's Machine Learning models, designed to help **mitigate fraud and compliance risks**.\n\nThis endpoint offers **optimal routing and embedded risk assessment**.\n\nIf travel_rule_compliant is true, the system will verify that both the sender and recipient have valid IVMS101 person records stored. If these records are missing or invalid, the request will fail with a validation error (422).\n",
        "operationId": "get_quote",
        "parameters": [
          {
            "name": "from_chain",
            "in": "query",
            "description": "Source chain (e.g., \"solana\", \"ethereum\")",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "solana"
          },
          {
            "name": "from_address",
            "in": "query",
            "description": "Sender address on the source chain",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "GvFbpZcqXNoZbAH8ETAA4DYBzaEHY4v2Vt7r71ZqJCTc"
          },
          {
            "name": "from_asset",
            "in": "query",
            "description": "Asset/mint/contract on the source chain",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"
          },
          {
            "name": "to_chain",
            "in": "query",
            "description": "Destination chain (e.g., \"ethereum\")",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "ethereum"
          },
          {
            "name": "to_asset",
            "in": "query",
            "description": "Asset/mint/contract on the destination chain",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48"
          },
          {
            "name": "amount",
            "in": "query",
            "description": "Amount in base units (integer string, no decimals)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "100000000"
          },
          {
            "name": "slippage_bps",
            "in": "query",
            "description": "Slippage in basis points (0..=10000)",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0
            },
            "example": 50
          },
          {
            "name": "to_address",
            "in": "query",
            "description": "Recipient address on the destination chain",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "0x10ADD26fb2D17dA265e0567B8F56cb4687979fbE"
          },
          {
            "name": "travel_rule_compliant",
            "in": "query",
            "description": "Whether the transaction complies with Travel Rule requirements.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Route quote with ML risk assessment",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuoteWithRisk"
                },
                "examples": {
                  "Solana to Ethereum USDC Swap": {
                    "value": {
                      "amount": "100000000",
                      "from_address": "GvFbpZcqXNoZbAH8ETAA4DYBzaEHY4v2Vt7r71ZqJCTc",
                      "from_asset": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
                      "from_chain": "solana",
                      "slippage_bps": 50,
                      "to_address": "0x10ADD26fb2D17dA265e0567B8F56cb4687979fbE",
                      "to_asset": "0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48",
                      "to_chain": "ethereum"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "Upstream error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/transactions/{id}": {
      "get": {
        "tags": [
          "Transactions"
        ],
        "summary": "Get a transaction",
        "description": "\nReturns a single processed transaction by its unique transaction hash.\n\n### Response\n- Includes transaction metadata such as:\n  - Transaction hash\n  - Network (e.g., Solana, Ethereum)\n  - Amount (in base units)\n  - Travel rule compliance status\n  - Timestamps\n  - Full IVMS101 sender and recipient records if available\n\n### Notes\n- If IVMS101 records are missing, the `sender` or `recipient` fields will be `null`.\n- Use this endpoint to audit a transaction or verify travel rule compliance.\n\n### Errors\n- Returns `404` if the transaction hash is not found.\n- Returns `500` if an internal server or database error occurs.\n",
        "operationId": "get_transaction_by_hash",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Transaction hash",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transaction found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionReport"
                }
              }
            }
          },
          "404": {
            "description": "Transaction not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "NotFound": {
                    "summary": "Transaction not found",
                    "value": {
                      "error": "Transaction not found."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "InternalError": {
                    "summary": "Database failure",
                    "value": {
                      "error": "Database error"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AccountNumber": {
        "type": "object",
        "description": "Identifier of an account that is used to process the transaction. Case-sensitive. See IVMS101 Section 5.2.1.3.3.",
        "properties": {
          "account_number": {
            "type": "string",
            "description": "Represents a bank or virtual asset account number.",
            "example": "HOLMESACC12345",
            "maxLength": 50,
            "minLength": 1
          }
        }
      },
      "Address": {
        "type": "object",
        "description": "Describes a full postal address used for geographic or legal identification. See IVMS101 Section 5.2.6.",
        "properties": {
          "address_lines": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "type": "string",
              "maxLength": 140,
              "minLength": 1
            },
            "description": "Free format address lines. See IVMS101 Section 5.2.6.3.15 and constraint C8.",
            "example": "[\"Company HQ\", \"Main Street\"]"
          },
          "address_type": {
            "$ref": "#/components/schemas/AddressType",
            "description": "Identifies the nature of the address (geographic/home/business). See IVMS101 Section 5.2.6.3.1."
          },
          "building_name": {
            "type": [
              "string",
              "null"
            ],
            "description": "Name of the building or house. See IVMS101 Section 5.2.6.3.6.",
            "example": "Holmes Residence",
            "maxLength": 35,
            "minLength": 1
          },
          "building_number": {
            "type": [
              "string",
              "null"
            ],
            "description": "Number that identifies the position of a building on a street. See IVMS101 Section 5.2.6.3.5.",
            "example": "221B",
            "maxLength": 16,
            "minLength": 1
          },
          "country": {
            "type": "string",
            "description": "ISO 3166-1 alpha-2 country code. See IVMS101 constraint C3 and Section 5.2.6.3.16.",
            "example": "GB"
          },
          "country_sub_division": {
            "type": [
              "string",
              "null"
            ],
            "description": "Identifies a subdivision of a country (state/region/province). See IVMS101 Section 5.2.6.3.14.",
            "example": "England",
            "maxLength": 35,
            "minLength": 1
          },
          "department": {
            "type": [
              "string",
              "null"
            ],
            "description": "Identification of a division of a large organisation or building. See IVMS101 Section 5.2.6.3.2.",
            "example": "Compliance Department",
            "maxLength": 35,
            "minLength": 1
          },
          "district_name": {
            "type": [
              "string",
              "null"
            ],
            "description": "Subdivision within a country subdivision. See IVMS101 Section 5.2.6.3.13.",
            "example": "Greater London",
            "maxLength": 35,
            "minLength": 1
          },
          "floor": {
            "type": [
              "string",
              "null"
            ],
            "description": "Floor or storey within a building. See IVMS101 Section 5.2.6.3.7.",
            "example": "2nd Floor",
            "maxLength": 70,
            "minLength": 1
          },
          "post_box": {
            "type": [
              "string",
              "null"
            ],
            "description": "Numbered box in a post office. See IVMS101 Section 5.2.6.3.8.",
            "example": "PO123",
            "maxLength": 16,
            "minLength": 1
          },
          "postcode": {
            "type": [
              "string",
              "null"
            ],
            "description": "Postal code. See IVMS101 Section 5.2.6.3.10.",
            "example": "NW1 6XE",
            "maxLength": 16,
            "minLength": 1
          },
          "room": {
            "type": [
              "string",
              "null"
            ],
            "description": "Building room number. See IVMS101 Section 5.2.6.3.9.",
            "example": "Room 221",
            "maxLength": 35,
            "minLength": 1
          },
          "street_name": {
            "type": [
              "string",
              "null"
            ],
            "description": "Name of a street or thoroughfare. See IVMS101 Section 5.2.6.3.4.",
            "example": "Main Street",
            "maxLength": 70,
            "minLength": 1
          },
          "sub_department": {
            "type": [
              "string",
              "null"
            ],
            "description": "Identification of a sub-division. See IVMS101 Section 5.2.6.3.3.",
            "example": "Risk Team",
            "maxLength": 35,
            "minLength": 1
          },
          "town_location_name": {
            "type": [
              "string",
              "null"
            ],
            "description": "Specific location name within the town. See IVMS101 Section 5.2.6.3.12.",
            "example": "Westminster",
            "maxLength": 35,
            "minLength": 1
          },
          "town_name": {
            "type": "string",
            "description": "Name of built-up area. See IVMS101 Section 5.2.6.3.11.",
            "example": "London",
            "maxLength": 35,
            "minLength": 1
          }
        }
      },
      "AddressType": {
        "type": "string",
        "description": "Indicates the type of address used for identification purposes. See IVMS101 Section 5.2.6.",
        "enum": [
          "GEOG",
          "HOME",
          "BIZZ"
        ],
        "example": "GEOG"
      },
      "CreatePersonPayload": {
        "oneOf": [
          {
            "type": "object",
            "description": "Create a natural person",
            "required": [
              "kind"
            ],
            "properties": {
              "account_numbers": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/AccountNumber"
                },
                "description": "List of bank or wallet account numbers"
              },
              "addresses": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Address"
                },
                "description": "Physical or mailing addresses"
              },
              "kind": {
                "type": "string",
                "enum": [
                  "natural"
                ]
              },
              "name_identifiers": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/NameIdentifier"
                },
                "description": "Official or alias names associated with this person"
              },
              "national_identifiers": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/NationalIdentifier"
                },
                "description": "National identifiers (e.g., passport, national ID)"
              },
              "person": {
                "$ref": "#/components/schemas/NaturalPerson",
                "description": "Core details about the natural person"
              }
            }
          },
          {
            "type": "object",
            "description": "Create a legal entity (e.g., company)",
            "required": [
              "kind"
            ],
            "properties": {
              "account_numbers": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/AccountNumber"
                },
                "description": "Bank or account numbers associated with the entity"
              },
              "addresses": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Address"
                },
                "description": "Registered or operating addresses"
              },
              "kind": {
                "type": "string",
                "enum": [
                  "legal"
                ]
              },
              "name_identifiers": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/NameIdentifier"
                },
                "description": "Official or alternate names of the entity"
              },
              "national_identifiers": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/NationalIdentifier"
                },
                "description": "Legal/national identifiers (e.g., tax ID)"
              },
              "person": {
                "$ref": "#/components/schemas/LegalPerson",
                "description": "Core details about the legal entity"
              }
            }
          }
        ]
      },
      "ErrorResponse": {
        "type": "object",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "string"
          }
        }
      },
      "FeeEstimate": {
        "type": "object",
        "required": [
          "network_fee",
          "router_fee",
          "total_fee",
          "fee_asset"
        ],
        "properties": {
          "fee_asset": {
            "type": "string",
            "description": "Asset denom or contract address of the fee currency",
            "example": "0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48"
          },
          "network_fee": {
            "type": "string",
            "description": "Network fee charged for the transaction, in base units (integer string)",
            "example": "50000"
          },
          "router_fee": {
            "type": "string",
            "description": "Router/aggregator fee, in base units (integer string)",
            "example": "25000"
          },
          "total_fee": {
            "type": "string",
            "description": "Total fee (sum of network and router fees), in base units (integer string)",
            "example": "75000"
          }
        }
      },
      "LegalPerson": {
        "type": "object",
        "description": "Represents a legal entity such as a company or organisation. See IVMS101 Section 5.2.9.",
        "properties": {
          "country_of_registration": {
            "type": [
              "string",
              "null"
            ],
            "description": "ISO 3166-1 alpha-2 country code of registration. See IVMS101 constraint C3 and Section 5.2.9.3.5.\nISO 3166-1 alpha-2 country code",
            "example": "GB"
          },
          "customer_identification": {
            "type": [
              "string",
              "null"
            ],
            "description": "A distinct identifier that uniquely identifies the legal person. See IVMS101 Section 5.2.9.3.3.",
            "example": "HOLMES_CORP",
            "maxLength": 50
          }
        }
      },
      "NameIdentifier": {
        "type": "object",
        "description": "Contains primary and secondary names used to identify a person. See IVMS101 Section 5.2.3.",
        "properties": {
          "is_legal": {
            "type": "boolean",
            "description": "Indicates if this is the legal name. See IVMS101 constraints C6/C5.",
            "example": true
          },
          "kind": {
            "$ref": "#/components/schemas/NameTypeCode",
            "description": "The nature of the name specified (legal, alias, birth, etc.). See IVMS101 Section 5.2.4.3.3."
          },
          "primary_identifier": {
            "type": "string",
            "description": "Primary identifier (surname or full name). See IVMS101 Section 5.2.4.3.1.",
            "example": "Sherlock Holmes",
            "maxLength": 100,
            "minLength": 1
          },
          "secondary_identifier": {
            "type": [
              "string",
              "null"
            ],
            "description": "Secondary identifier (forenames, initials). See IVMS101 Section 5.2.4.3.2.",
            "example": "S. Holmes",
            "maxLength": 100
          }
        }
      },
      "NameTypeCode": {
        "type": "string",
        "description": "Specifies the type of name identifier as per IVMS101 Section 7.1.2.",
        "enum": [
          "LEGL",
          "ALIA",
          "BIRT",
          "MAID",
          "MISC"
        ],
        "example": "LEGL"
      },
      "NationalIdentifier": {
        "type": "object",
        "description": "A distinct identifier used by governments to uniquely identify a natural or legal person. Refer to IVMS101 Sections 5.2.8 and 5.2.9.",
        "properties": {
          "country_of_issue": {
            "type": [
              "string",
              "null"
            ],
            "description": "ISO 3166-1 alpha-2 country code of the issuing authority. See IVMS101 constraint C3.",
            "example": "GB"
          },
          "identifier_type": {
            "type": "string",
            "description": "Specifies the type of the national identifier. See IVMS101 Section 5.2.8.3.2.",
            "example": "LEIX",
            "maxLength": 35,
            "minLength": 1
          },
          "national_identifier": {
            "type": "string",
            "description": "An identifier issued by an appropriate issuing authority. See IVMS101 Section 5.2.8.3.1.",
            "example": "GB123456789",
            "maxLength": 35,
            "minLength": 1
          },
          "registration_authority": {
            "type": [
              "string",
              "null"
            ],
            "description": "Registration authority code; 8-character. See IVMS101 Sections C9/C10.",
            "example": "RA000001",
            "maxLength": 8,
            "minLength": 8
          }
        }
      },
      "NaturalPerson": {
        "type": "object",
        "description": "Represents a uniquely distinguishable individual; one single person with KYC-related attributes. See IVMS101 Section 5.2.2.3.",
        "properties": {
          "country_of_residence": {
            "type": [
              "string",
              "null"
            ],
            "description": "ISO 3166-1 alpha-2 country code of residence. See IVMS101 constraint C3 and Section 5.2.2.3.6.\nISO 3166-1 alpha-2 country code",
            "example": "GB"
          },
          "customer_identification": {
            "type": [
              "string",
              "null"
            ],
            "description": "A distinct identifier that uniquely identifies the person to the institution in context. See IVMS101 Section 5.2.2.3.4.",
            "example": "HOLMES001",
            "maxLength": 50
          },
          "date_of_birth": {
            "type": [
              "string",
              "null"
            ],
            "format": "date",
            "description": "Date of birth; must be a historic date per constraint C2. See IVMS101 Section 5.2.7.",
            "example": "1854-01-06"
          },
          "place_of_birth": {
            "type": [
              "string",
              "null"
            ],
            "description": "Place of birth (town/city/subdivision/country). See IVMS101 Section 5.2.7.3.2.",
            "example": "Baker Street, London",
            "maxLength": 100,
            "minLength": 1
          }
        }
      },
      "Network": {
        "type": "string",
        "enum": [
          "solana",
          "solana-devnet",
          "solana-testnet"
        ]
      },
      "Person": {
        "type": "object",
        "required": [
          "id",
          "created_at",
          "person",
          "name_identifiers",
          "national_identifiers",
          "account_numbers",
          "addresses"
        ],
        "properties": {
          "account_numbers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AccountNumber"
            },
            "description": "Account numbers (bank or wallet identifiers).",
            "example": [
              {
                "account_number": "GB29NWBK60161331926819"
              }
            ]
          },
          "addresses": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Address"
            },
            "description": "Registered or physical addresses.",
            "example": [
              {
                "address_type": "GEOG",
                "country": "GB",
                "town_name": "London"
              }
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the person was created (UTC).",
            "example": "2025-07-29T14:45:00"
          },
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier of the person record.",
            "example": "d2fd3b17-1fcd-4c4f-bc0e-3b6f858a5e5d"
          },
          "name_identifiers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NameIdentifier"
            },
            "description": "List of name identifiers (e.g., legal name, aliases).",
            "example": [
              {
                "is_legal": true,
                "kind": "LEGL",
                "primary_identifier": "Acme Corp"
              }
            ]
          },
          "national_identifiers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NationalIdentifier"
            },
            "description": "National identifiers (e.g., passport, tax ID).",
            "example": [
              {
                "country_of_issue": "GB",
                "identifier_type": "tax_id",
                "national_identifier": "123456789"
              }
            ]
          },
          "person": {
            "$ref": "#/components/schemas/PersonCore",
            "description": "The core person object (either natural or legal)."
          }
        }
      },
      "PersonCore": {
        "oneOf": [
          {
            "type": "object",
            "required": [
              "person",
              "kind"
            ],
            "properties": {
              "kind": {
                "type": "string",
                "enum": [
                  "natural"
                ]
              },
              "person": {
                "type": "object",
                "description": "Represents a uniquely distinguishable individual; one single person with KYC-related attributes. See IVMS101 Section 5.2.2.3.",
                "properties": {
                  "country_of_residence": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "ISO 3166-1 alpha-2 country code of residence. See IVMS101 constraint C3 and Section 5.2.2.3.6.\nISO 3166-1 alpha-2 country code",
                    "example": "GB"
                  },
                  "customer_identification": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "A distinct identifier that uniquely identifies the person to the institution in context. See IVMS101 Section 5.2.2.3.4.",
                    "example": "HOLMES001",
                    "maxLength": 50
                  },
                  "date_of_birth": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "format": "date",
                    "description": "Date of birth; must be a historic date per constraint C2. See IVMS101 Section 5.2.7.",
                    "example": "1854-01-06"
                  },
                  "place_of_birth": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "Place of birth (town/city/subdivision/country). See IVMS101 Section 5.2.7.3.2.",
                    "example": "Baker Street, London",
                    "maxLength": 100,
                    "minLength": 1
                  }
                }
              }
            }
          },
          {
            "type": "object",
            "required": [
              "person",
              "kind"
            ],
            "properties": {
              "kind": {
                "type": "string",
                "enum": [
                  "legal"
                ]
              },
              "person": {
                "type": "object",
                "description": "Represents a legal entity such as a company or organisation. See IVMS101 Section 5.2.9.",
                "properties": {
                  "country_of_registration": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "ISO 3166-1 alpha-2 country code of registration. See IVMS101 constraint C3 and Section 5.2.9.3.5.\nISO 3166-1 alpha-2 country code",
                    "example": "GB"
                  },
                  "customer_identification": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "A distinct identifier that uniquely identifies the legal person. See IVMS101 Section 5.2.9.3.3.",
                    "example": "HOLMES_CORP",
                    "maxLength": 50
                  }
                }
              }
            }
          }
        ],
        "description": "Core person data for either a natural or legal person."
      },
      "QuoteWithRisk": {
        "type": "object",
        "required": [
          "quote",
          "risk"
        ],
        "properties": {
          "quote": {
            "$ref": "#/components/schemas/RouteQuote",
            "description": "The selected best route/quote"
          },
          "risk": {
            "description": "Risk assessment from the ML API (None if the call failed)\n\nNOTE: `PaymentRiskResponse` is from an external crate. We keep the field typed\nas `PaymentRiskResponse` in Rust, but for OpenAPI we document it as JSON and\nprovide a realistic example payload."
          }
        }
      },
      "RouteQuote": {
        "type": "object",
        "required": [
          "quote_id",
          "provider",
          "created_at",
          "from_chain",
          "to_chain",
          "from_asset",
          "to_asset",
          "amount_in",
          "amount_out_estimated",
          "min_amount_out",
          "aggregator_name"
        ],
        "properties": {
          "aggregator_name": {
            "type": "string",
            "description": "Name of the aggregator/tool (\"Relay\", \"LI.FI\", etc.)",
            "example": "LI.FI"
          },
          "amount_in": {
            "type": "string",
            "description": "Input amount in base units (integer string)",
            "example": "100000000"
          },
          "amount_out_estimated": {
            "type": "string",
            "description": "Estimated output amount in base units (integer string)",
            "example": "99850000"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "RFC3339 timestamp when the quote was created",
            "example": "2025-08-15T07:12:34Z"
          },
          "fee": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/FeeEstimate",
                "description": "Fees, if provided by the aggregator"
              }
            ]
          },
          "from_asset": {
            "type": "string",
            "description": "Source asset/mint/contract",
            "example": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"
          },
          "from_chain": {
            "type": "string",
            "description": "Source chain name",
            "example": "solana"
          },
          "min_amount_out": {
            "type": "string",
            "description": "Minimum guaranteed output in base units (integer string)",
            "example": "99500000"
          },
          "provider": {
            "type": "string",
            "description": "Aggregator/provider identifier (e.g., \"deBridge DLN\", \"LI.FI\")",
            "example": "LI.FI"
          },
          "quote_id": {
            "type": "string",
            "format": "uuid",
            "description": "Quote UUID",
            "example": "b9a1b2a0-8d2b-4e4d-9e64-0e0a8f7a9d3c"
          },
          "to_asset": {
            "type": "string",
            "description": "Destination asset/mint/contract",
            "example": "0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48"
          },
          "to_chain": {
            "type": "string",
            "description": "Destination chain name",
            "example": "ethereum"
          },
          "transaction": {
            "type": [
              "string",
              "null"
            ],
            "description": "Generated transaction blob (raw or base64)",
            "example": "AAAA..."
          }
        }
      },
      "RouteRequest": {
        "type": "object",
        "required": [
          "amount_in",
          "source_asset_denom",
          "source_asset_chain_id",
          "dest_asset_denom",
          "dest_asset_chain_id"
        ],
        "properties": {
          "amount_in": {
            "type": "string",
            "example": "1000000"
          },
          "dest_asset_chain_id": {
            "type": "string",
            "example": "osmosis-1"
          },
          "dest_asset_denom": {
            "type": "string",
            "example": "ibc/498A0751C798A0D9A389AA3691123DADA57DAA4FE165D5C75894505B876BA6E4"
          },
          "source_asset_chain_id": {
            "type": "string",
            "example": "solana"
          },
          "source_asset_denom": {
            "type": "string",
            "example": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"
          }
        }
      },
      "RouteResponse": {
        "type": "object",
        "properties": {
          "amount_in": {
            "type": [
              "string",
              "null"
            ]
          },
          "amount_out": {
            "type": [
              "string",
              "null"
            ]
          },
          "chain_ids": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "type": "string"
            }
          },
          "dest_asset_chain_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "dest_asset_denom": {
            "type": [
              "string",
              "null"
            ]
          },
          "does_swap": {
            "type": [
              "boolean",
              "null"
            ]
          },
          "estimated_amount_out": {
            "type": [
              "string",
              "null"
            ]
          },
          "estimated_route_duration_seconds": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int32"
          },
          "required_chain_addresses": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "type": "string"
            }
          },
          "source_asset_chain_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "source_asset_denom": {
            "type": [
              "string",
              "null"
            ]
          },
          "swap_price_impact_percent": {
            "type": [
              "string",
              "null"
            ]
          },
          "txs_required": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int32"
          },
          "usd_amount_in": {
            "type": [
              "string",
              "null"
            ]
          },
          "usd_amount_out": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "SubmitTransferRequest": {
        "type": "object",
        "properties": {
          "network": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/Network",
                "description": "The blockchain network to submit the transaction to (e.g., `solana`)."
              }
            ],
            "default": "solana"
          },
          "transaction_base64": {
            "type": "string",
            "description": "The base64-encoded signed transaction.",
            "default": "",
            "example": "AQABAgMEBQYH...",
            "maxLength": 8192,
            "minLength": 10
          },
          "travel_rule_compliant": {
            "type": "boolean",
            "description": "Whether the transaction complies with Travel Rule requirements.",
            "default": false,
            "example": true
          }
        },
        "example": {
          "network": "solana",
          "transaction_base64": "AQABAgMEBQYH...==",
          "travel_rule_compliant": true
        }
      },
      "SubmitTransferResponse": {
        "type": "object",
        "properties": {
          "tx_hash": {
            "type": "string",
            "description": "The transaction hash returned after successful broadcast.",
            "default": "",
            "example": "3h9ZEkZqKwHvzyWdRBBZzK8u8CpRJikvV1UWzMykwMyB"
          }
        },
        "example": {
          "tx_hash": "3h9ZEkZqKwHvzyWdRBBZzK8u8CpRJikvV1UWzMykwMyB"
        }
      },
      "TransactionReport": {
        "type": "object",
        "required": [
          "tx_hash",
          "network",
          "amount",
          "travel_rule_compliant",
          "created_at"
        ],
        "properties": {
          "amount": {
            "type": "integer",
            "format": "int64"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "network": {
            "type": "string"
          },
          "recipient": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/Person"
              }
            ]
          },
          "sender": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/Person"
              }
            ]
          },
          "travel_rule_compliant": {
            "type": "boolean"
          },
          "tx_hash": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  },
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Transactions",
      "description": "Send, track and find transactions"
    },
    {
      "name": "Persons",
      "description": "Manage IVMS101 Person records. This includes creation and retrieval of structured person data for compliance with FATF Travel Rule standards."
    }
  ]
}